# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
.derivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
node_modules/

# CocoaPods (if used later)
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
