rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    match /feed/{postId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid;

      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['reactions', 'reacted_uids'])
        && request.resource.data.reacted_uids.hasAll(resource.data.reacted_uids)
        && request.resource.data.reacted_uids.size() == resource.data.reacted_uids.size() + 1
        && request.resource.data.reacted_uids[request.resource.data.reacted_uids.size() - 1] == request.auth.uid
        && !resource.data.reacted_uids.hasAny([request.auth.uid])
        && reactionsValid(resource.data.reactions, request.resource.data.reactions);

      function reactionsValid(before, after) {
        let validKeys = ['clap', 'fire', 'muscle', 'hug', 'clover', 'cheers'];
        return after.keys().hasAll(validKeys)
          && (
            (after.clap == before.clap + 1 && after.fire == before.fire && after.muscle == before.muscle && after.hug == before.hug && after.clover == before.clover && after.cheers == before.cheers) ||
            (after.clap == before.clap && after.fire == before.fire + 1 && after.muscle == before.muscle && after.hug == before.hug && after.clover == before.clover && after.cheers == before.cheers) ||
            (after.clap == before.clap && after.fire == before.fire && after.muscle == before.muscle + 1 && after.hug == before.hug && after.clover == before.clover && after.cheers == before.cheers) ||
            (after.clap == before.clap && after.fire == before.fire && after.muscle == before.muscle && after.hug == before.hug + 1 && after.clover == before.clover && after.cheers == before.cheers) ||
            (after.clap == before.clap && after.fire == before.fire && after.muscle == before.muscle && after.hug == before.hug && after.clover == before.clover + 1 && after.cheers == before.cheers) ||
            (after.clap == before.clap && after.fire == before.fire && after.muscle == before.muscle && after.hug == before.hug && after.clover == before.clover && after.cheers == before.cheers + 1)
          );
      }
    }

    match /reports/{reportId} {
      allow create: if request.auth != null;
      allow read: if false;
    }
  }
}
